:root {
    --primary-white: #FFFFFF;
    --light-gray: #E7ECF0;
    --primary-green: #6EA868;
    --dark-green: #54974D;
    --highlight-yellow: #FFCA28;
}

.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.camera-button {
    width: 50px;
    height: 50px;
    padding: 1em;
    background: none;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 100%;
    border: 10px solid #FFF;
    position: absolute;
    left: calc(50% - 25px);
    bottom: 6rem;
}

.camera-button > *{
    display: none;
}

.camera-button:hover {
    background-color: #FFF;
    /* color: var(--primary-white); */
    transition: all 0.3s ease-in-out;
}