.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    /*width: 100vw;*/
    /*height: 100vh;*/
}

.camera-button {
    width: 50px;
    height: 50px;
    padding: 1em;
    background: none;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 100%;
}

.camera-button:hover {
    background-color: white;
    transition: background-color 0.1s ease-in, opacity 0.1s ease-in;
}