:root {
    --primary-white: #FFFFFF;
    --light-gray: #E7ECF0;
    --primary-green: #6EA868;
    --dark-green: #54974D;
    --highlight-yellow: #FFCA28;
}

.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    transform: scale(1.1);
}

.camera-button {
    width: 50px;
    height: 50px;
    padding: 1em;
    background: none;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 100%;
    border: 10px solid #FFF;
    position: absolute;
    left: calc(50% - 25px);
    bottom: 6rem;
}

.camera-button > *{
    display: none;
}

.camera-button:hover {
    background-color: #FFF;
    /* color: var(--primary-white); */
    transition: all 0.3s ease-in-out;
}

.focus-modal-image{
    position: absolute;
}


.camera-container {
    position: relative;
    text-align: center;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 80%;
    max-width: 400px;
    padding: 20px;
}

.popup-content {
    color: #000;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}


.blinking {
    animation: blinking 1s infinite;
}

@keyframes blinking {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}