
:root {
  --primary-white: #FFFFFF;
  --light-gray: #E7ECF0;
  --primary-green: #6EA868;
  --dark-green: #54974D;
  --highlight-yellow: #FFCA28;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--primary-white);
  background-color: var(--light-gray);
}

a {
  font-weight: 500;
  color: var(--dark-green);
  text-decoration: none;
}
a:hover {
  color: var(--primary-green);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-weight: 500;
  font-family: inherit;
  background-color: var(--highlight-yellow);
  border: 1px solid var(--dark-green);
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
button:hover {
  background-color: var(--dark-green);
  color: var(--primary-white);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--primary-green);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
