:root {
    --primary-white: #FFFFFF;
    --light-gray: #E7ECF0;
    --primary-green: #6EA868;
    --dark-green: #54974D;
    --highlight-yellow: #FFCA28;
    --modal-overlay: rgba(0, 0, 0, 0.5);
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.coin-counter {
    position: absolute;
    top: 2em;
    right: 2em;
    background-color: var(--primary-green);
    color: var(--primary-white);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.profile-top {
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.username {
    margin-top: 10px;
    color: var(--dark-green);
    font-weight: bold;
}

.user-avatar {
    width: 120px;
    height: 120px;
    border: 3px solid var(--primary-green);
    border-radius: 50%;
    object-fit: cover;
}

.profile-midsection {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    color: var(--dark-green);
}

.profile-bottom button {
    background-color: var(--primary-green);
    color: var(--primary-white);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-bottom button:hover {
    background-color: var(--dark-green);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--modal-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: var(--primary-white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.modal-content h3 {
    margin-bottom: 15px;
}

.modal-content button {
    background-color: var(--highlight-yellow);
    color: var(--dark-green);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content button:hover {
    background-color: var(--dark-green);
    color: var(--primary-white);
}

