.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coin-counter{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 2em;
    right: 2em;

}

.profile-top{
    font-size: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 20px;
    /*padding-top: 0;*/
}

.username{
    padding-left: 100px;
    padding-bottom: 2px;
}

.user-avatar{
    width: 30%;
    height: 30%;
}