.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-top{
    font-size: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 20px;
    /*padding-top: 0;*/
}

.profile-top p i{
    padding: 50px;
    padding-bottom: 2px;
}
